<p class="tagcloud">
  {% for tag in site.tags %}
      {% if tag[0] != "Webflowwalk" %}
          <!-- Here's a hack to generate a "tag cloud" where the size of
          the word is directly proportional to the number of posts with
          that tag. The size is capped by the screen width, so that the
          word always fits on one line. -->
          {% assign tag_size = tag[1] | size | times: 2 | plus: 10 %}
          {% assign tag_cap = 140 | divided_by: tag[0].size %}
          <a href="/tags/{{ tag[0] }}.html"
          style="font-size: min({{ tag_size }}px, {{ tag_cap }}vw);text-decoration: none">
              {{ tag[0] }}
          </a>
      {% endif %}
  {% endfor %}
</p>
